<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://iglesia-api-vidaplena-fyf5apddh5c3brht.centralus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>170ae36d-16c4-4298-6cfa-3b39697c3e59</ProjectGuid>
    <PublishUrl>https://iglesia-api-vidaplena-fyf5apddh5c3brht.scm.centralus-01.azurewebsites.net/</PublishUrl>
    <UserName>$iglesia-api-VidaPlena</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>